<div class="container  mt-6 card shadow-none p-3 mb-10 bg-body-tertiary rounded">
  <div class="row">
    <h1>Add New Task</h1>
    <form [formGroup]="addtaskForm" (ngSubmit)="onAddTask()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title : </label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="title">

        <label for="exampleInputPasswozzzrd1" class="form-label">Description: </label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="description">

        <label for="exampleInputPassword1" class="form-label">DueDate: </label>
        <input type="date" class="form-control" id="exampleInputPassword1" formControlName="dueDate">

        <label for="exampleInputPassword1" class="form-label">Priority: </label>
        <select name="" class="form-control" formControlName="Priority">
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="low">low</option>
        </select>

        <div class="mb-3">
          <label for="assignee" class="form-label">Assignee: </label>
          <select class="form-control" id="assignee" formControlName="assigneeId">
            <option *ngFor="let user of Users" [value]="user.id">{{user.firstName}}</option>
          </select>
        </div>

      </div>
      <div>
      <h3>Enter the CheckLists</h3><hr>
      <div formArrayName="checklists">
        <div class="col mb-3">
        <button class="btn btn-success" type="button" (click)="addChecklist()">Add</button>
      </div>
        <div class="row" *ngFor="let CheckLists of myCheckLists.controls; let i=index">
          <div class="col" [formGroupName]="i">
            <div class="mb-3">
              <input type="checkbox" class="form-check input" id="isDone" formControlName="isDone">
              <input type="text" class="form-control" id="name">
            </div>
          </div>
         
          <div class="col">
            <button class="btn btn-danger" (click)="removeChecklist(i)">Remove</button>
          </div>
         </div>
         </div>
        </div>

      <div class="mb-3 mx-auto">
        <button type="submit" class="btn btn-primary me-3">Submit</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancel </button>
      </div>
    </form>
  </div>
</div>
<!-- <ul>
  <li *ngFor="let user of Users">{{user.firstName}}</li>
</ul> -->

